.login {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    /* box-shadow: 6px 6px 6px -5px #f7f1e3; */
    margin-top: 1rem;
}

.login p {
    margin: 0 0 1rem 0;
}

.login-button {
    /* border: 1px solid #218c74;
    background: #33d9b2; */
    padding: 1rem;
    font-size: 2rem;
    /* color: #40407a; */
}
